	<table>
				<tr><td>name</td><td><%= u.text_field(:name)%></td></tr>
				<tr><td>password</td><td><%= u.password_field(:password)%></td></tr>
				<tr><td>sex</td><td><%= u.select(:sex,{"boy" => 1, "girl" => 2})%></td></tr>
		</table>
