<% if object && object.errors.size > 0%>
		<div style="backdround:#542;" id="error">
				<%= pluralize(object.errors.size,"error")%><br />
				<ul>
						<%object.errors.full_messages.each do |msg|%>
								<li><%= msg%></li>
						<%end%>
				</ul>
		</div>
<%end%>
